.div_main {
  height: 100vh;
  background: linear-gradient(to right, #141e30, #243b55);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

div.board {
  display: flex;
  flex-direction: column;
  background: #fff;
  left: 50%;
  top: 50%;
  border: 3px solid rgba(245, 242, 242, 0.911);
  width: 380px;
  height: 200px;
  border-radius: 6px;
}

div .email_input {
  display: flex;
  flex-direction: row;
  padding: 7px;
  margin: auto;
  align-items: center;
}

div .email_input i {
  position: relative;
  padding: 20px;
}

.ui-button {
  padding: 50px;
}
