@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

.login-content {
  height: 100vh;
  width: 100%;
  padding: 15%;
  margin: auto;
  background: linear-gradient(to right, #141e30, #243b55);
}

.btn-login {
  width: 100%;
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
  transition: ease-out 0.3s;
}
.btn-login:hover {
  background: linear-gradient(to bottom, #bdc3c7b7, #2d5a88);
}
.login-options {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.login-options a {
  transition: ease-in 0.2s;
  text-decoration: none;
  color: #000000;
  padding: 5px;
}
.login-options a:hover {
  color: #2a6299;
}

div .div_main_login {
  background: linear-gradient(to right, #f9f9f9, #f9f9f9be);
  display: flex;
  margin: auto;
  width: 400px;
  height: 550px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.h1_title {
  font-family: 'New Tegomin', serif;
  font-size: 30px;
  font-weight: 800;
  margin-top: 30px;
}
