:root {
  --aside-width: 225px;
  --nav-width: 140px;
}

.home-page {
  height: 100%;
  background: linear-gradient(to left, #141e30, #243b55);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  display: grid;
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-rows: var(--nav-width) 1fr;
  grid-template-areas:
    'nav header'
    'nav main';
}

button .open-btn {
  grid-area: nav;
}

.home-page {
  grid-area: content;
}

main .home-area {
  background: linear-gradient(to right, #141e30, #243b55);
}

.header {
  display: grid;
  grid-template: auto;
  grid-area: header;
}

.rowCards {
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  justify-items: center;
}
