.rodape-card {
  color: #050000;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.btn-detalhes {
  background-color: #999898;
}

.card-text {
  max-height: 200px;
  overflow: hidden;
}

.img-cartao {
  max-height: 200px;
  min-height: 100px;
  min-width: 100%;
  border: 5px solid #8f8e8eaf;
  padding: 0px;
}

.rowDiv {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.card-body {
  color: #0a0101;
  background: #999898;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.border-card {
  background: #f9f9f9af;
  border: 2px solid #f9f9f9af;
  padding: 20px;
  margin: 10px;
}
